* {
  box-sizing: border-box;
}

body {
  background-color: #202124;
  font-family: Helvetica, sans-serif;
}

h1 {
  max-width: 480px;
  text-align: center;
  margin: 60px auto;
  font-family: 'Courier New', Courier, monospace;
  color: #fff;
}

h2 {
  max-width: 480px;
  text-align: center;
  margin: 60px auto;
  font-family: 'Courier New', Courier, monospace;
  color: #fff;
}


h1::after {
  content: '|';
  opacity: 1;
  margin-left: 5px;
  display: inline-block;
  animation: blink .7s infinite;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.about {
  text-align: center;
}

.about img {
  border-radius: 50%;
}

.text-2 h2 {
  max-width: 280px;
  text-align: center;
  margin: 60px auto;
  font-family: 'Courier New', Courier, monospace;
  color: #fff;
}


h3 {
  max-width: 480px;
  text-align: left;
  margin: 60px;
  font-family: 'Courier New', Courier, monospace;
  color: #fff;
}


.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background-color: #202124;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}

.timeline ul li {
  padding: 20px;
  background-color: #1e1f22;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}

.timeline ul li:last-child {
  margin-bottom: 0;
}

.timeline-content h1 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
}

.timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}

.timeline-content .date {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

@media only screen and (min-width: 768px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: gray;
  }

  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }

  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }

  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }

  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: gray;
    top: 0px;
  }

  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }

  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }

  .timeline-content .date {
    position: absolute;
    top: -30px;
  }

  .timeline ul li:hover::before {
    background-color: aqua;
  }
}

.medias {
  text-align: center;
  padding-right: 140px;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  margin-bottom: 80px;
  text-decoration: none;
}

.social{
  text-align: center;
  padding-bottom: 120px;
}

.fa-linkedin{
  color: #0A66C2;
  font-size: 30px;
  margin-left: 20px;
}

.fa-github{
  color: #AFB5BB;
  font-size: 30px;
  margin-left: 20px;
}

.fa-instagram{
  color: #C338A9;
  font-size: 30px;
  margin-left: 20px;
}


.fa-facebook-square{
  color: #0674E7;
  font-size: 30px;
  margin-left: 20px;
}


.fa-twitter-square{
  color: #1A91DA;
  font-size: 30px;
  margin-left: 20px;
}

.medias2 {
  text-align: left;
  padding-left: 140px;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  padding-bottom: 120px;
  padding-right: 20px;
}

.medias2 a {
  padding-left: 10px;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-size: 25px;
}

.medias2 a:hover {
  color: aqua;
}